
#form-subir-datos {
    background-color: #ffffff
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 50%;
    margin: auto;
    display: block;
}

#form-subir-datos h2 {
    text-align: center;
    margin-bottom: 20px;
}

#form-subir-datos label {
    display: block;
    margin-bottom: 5px;
}

#form-subir-datos select, 
#form-subir-datos input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#form-subir-datos input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#form-subir-datos input[type="submit"]:hover {
    background-color: #0056b3;
}

.detalle-btn {
    display: inline-block;
    padding: 3px 10px; /* Reduce el padding */
    font-size: 0.8em; /* Reduce el tamaño de la fuente */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.detalle-btn:hover {
    background-color: #0056b3;
}

.estacion-container {
    display: flex;
    align-items: center;
}

.estacion-container > * {
    margin-right: 10px;
}
