
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}
.ver-detalle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074d9; /* Color de fondo */
    color: #fff; /* Color de texto */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-detalle:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}